
		<!-- █████████████████████ 菜单列表 █████████████████████ -->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<h2>菜单管理</h2>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input style="border: solid;float: left;" class="form-control form-control-dark w-50" type="text" placeholder="Search"
						 aria-label="Search">
						&nbsp;<button type="submit" class="btn btn-info">查找</button>
				</form>
				<button type="submit" class="btn btn-success">添加</button>
		</div>
		<div class="table-responsive">

			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>菜单标题</th>
						<th>菜单介绍</th>
						<th>创建者</th>
						<th>收藏数量</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>test_name</td>
						<td>test_title</td>
						<td>test_creator</td>
						<td>test_number</td>
						<td>test_time</td>
						<td>
							<button class="btn btn-primary">修改</button>
							<button class="btn btn-danger">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<hr>
		</div>
		</main>

		<!-- █████████████████████ 菜谱列表 █████████████████████ -->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<h2>菜谱管理</h2>
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input style="border: solid;float: left;" class="form-control form-control-dark w-50" type="text" placeholder="Search"
					 aria-label="Search">
					&nbsp;<button type="submit" class="btn btn-info">查找</button>
			</form>
			<button type="submit" class="btn btn-success">添加</button>
			</div>

			<div class="table-responsive">

				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>ID</th>
							<th>创建者</th>
							<th>菜谱名</th>
							<th>菜谱介绍</th>
							<th>小贴士</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>test_creato</td>
							<td>test_title</td>
							<td>test_introduction</td>
							<td>test_tips</td>
							<td>test_time</td>
							<td>
								<button class="btn btn-primary">修改</button>
								<button class="btn btn-danger">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
			</div>
		</main>


		<!-- █████████████████████ 作品列表 █████████████████████ -->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<h2>作品管理</h2>
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input style="border: solid;float: left;" class="form-control form-control-dark w-50" type="text" placeholder="Search"
					 aria-label="Search">
					&nbsp;<button type="submit" class="btn btn-info">查找</button>
			</form>
			<button type="submit" class="btn btn-success">添加</button>
			</div>
			<div class="table-responsive">

				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>ID</th>
							<th>菜谱ID</th>
							<th>创建者</th>
							<th>作品介绍</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>test_creato</td>
							<td>test_title</td>
							<td>test_introduction</td>
							<td>test_time</td>
							<td>
								<button class="btn btn-primary">修改</button>
								<button class="btn btn-danger">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
			</div>
		</main> 	
	